p,
h2 {
    text-align: center;
    color: #333333;
    font-weight: 700;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 22px;
}

div {
    text-align: center;
}

hr {
    width: 60px;
    height: 3px;
    border: 0px;
    background-color: #f1ad1d;
    margin: 70px auto;
}